<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <appSettings>
    <add key="conString" value="NavodyamiOne"/>
    <!--<add key="conString1" value="DETMIS"/>-->
     <add key="Default_MailId" value="leadmis@dfmail.org"/>
    <add key="MailId_Password" value="leadcampusadmin"/>
     
  </appSettings>
  <connectionStrings>
    <add name="LEADMIS" connectionString="server=mis.leadcampus.org;user id=ruser;password= DeshCanada@123HubliTECH1234;database=misleadcampus" providerName="MySql.Data.MySqlClient"/>
    <add name="Notify" connectionString="server=mis.leadcampus.org;user id=ruser;password=DeshCanada@123HubliTECH1234;database=tech_notify" providerName="MySql.Data.MySqlClient" />

  </connectionStrings>
</configuration>
